<div class="footer">
	<div class="container">
      {{ partial "social.html" . }}

      
      <p class="copyright">
          {{ . }}
      </p>
      <p>Icon credits: Muhammad Faizal Rahman Hakim, Collectif Intro, Mr Geo Neo, Stefan Parnarov, Fx Pedron, Marco Olgio.</p><br/>
      <p>Photo credits: Filip Maljković, BriYYZ, Hernán Piñera, Kyle Taylor, Edwin Lee, Maëlick, Oh-Berlin.com, Roderick Eime, Dominik Bartsch, David van der Mark, Yoshikazu TAKADA, Renaud Camus, Peter McConnochie, Peter McConnochie, Gareth Williams, liz west.</p>
      <br />
      <br />
<p>Все фото и видеоматериалы принадлежат их владельцам и используются для демонстрации. Пожалуйста, не используйте контент шаблона в коммерческих целях.</p>
	</div>     
</div>
